.ColorElement {
  display: inline-block;
  height: 55px;
  width: 55px;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #002864; }

.ColorElement--selected {
  border: 1px solid white; }
