.header {
  display: flex;
  justify-content: space-between; }

.header__image {
  margin-left: 1rem; }

.header__ul {
  list-style: none;
  color: white;
  margin-top: 1.5rem; }

.header__li {
  display: inline;
  margin: 0.4rem; }
