.TextCard {
  margin: .5rem;
  background-color: #FF4B00;
  color: white;
  text-align: center;
  padding: 2rem 0rem;
  cursor: pointer;
  font-size: 12px; }

.TextCard__Title {
  font-weight: bold; }

.TextCard--selected {
  background-color: #F8F100; }
